[submodule "external/qpbo"]
	path = external/qpbo
	url = https://github.com/DerThorsten/qpbo.git
[submodule "external/PEGTL"]
	path = external/PEGTL
	url = https://github.com/taocpp/PEGTL.git
	branch = 1.3.x
[submodule "external/maxflow"]
	path = external/maxflow
	url = https://github.com/DerThorsten/maxflow.git
[submodule "external/libsimdpp"]
	path = external/libsimdpp
	url = https://github.com/p12tic/libsimdpp.git
[submodule "external/meta"]
	path = external/meta
	url = https://github.com/ericniebler/meta.git
[submodule "external/TCLAP"]
	path = external/TCLAP
	url = https://github.com/eile/tclap.git
[submodule "external/BCFW-Bundle"]
	path = external/BCFW-Bundle
	url = https://github.com/pawelswoboda/BCFW-Bundle.git
[submodule "external/DD_ILP"]
	path = external/DD_ILP
	url = https://github.com/pawelswoboda/DD_ILP.git
[submodule "external/ConicBundle"]
	path = external/ConicBundle
	url = https://github.com/pawelswoboda/ConicBundle.git
[submodule "external/arboricity"]
	path = external/arboricity
	url = https://github.com/pawelswoboda/arboricity.git
[submodule "external/opengm"]
	path = external/opengm
	url = https://github.com/opengm/opengm.git
[submodule "external/MCF-SSP"]
	path = external/MCF-SSP
	url = https://github.com/pawelswoboda/MCF-SSP.git
[submodule "external/andres-graph"]
	path = external/andres-graph
	url = https://github.com/bjoern-andres/graph.git
